/* nav bar */
nav {
  display: flex;
  width: 1440px;
  padding: 24px 160px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: var(--primary-spring-bg, #F6FCF8);
},
.nav-items{
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-home{
  color: var(--primary-spring-70, #147952);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
}
.nav-rest-items{
  color: var(--secondary-blue-ebony, #252642);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
  padding-left: 20px;
}