backgroung
/* .back-ground {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
} */


/* nav bar */
/* nav {
  display: flex;
  width: 1120px ;
  padding: 24px 160px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: var(--primary-spring-bg, #F6FCF8);
} */
.nav-items{
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-home{
  color: var(--primary-spring-70, #147952);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
}
.nav-rest-items{
  color: var(--secondary-blue-ebony, #252642);
  font-family: Montserrat;
  font-size: 16px; 
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
  padding-left: 20px;
}
.download-now-button{
  display: flex;
  height: 40px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Primary-Spring50, #4AC16A);
}

/* home page  */
/* .home-nav-box {
  display: flex;
  width: 1440px;
  height: 849.057px;
  flex-shrink: 0;
  background: url(./assets/getHelp.svg), lightgray 50% / contain no-repeat;
} */


/* About.jsx */
.who-we-are-images-contents{
  width: 1440px auto;
  height: 847px auto;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin-top: 144px;
  margin-bottom: 144px;
  margin-left: 160px;
  margin-right: 32px;
}
.image-1-box{
  display: flex;
  padding-top: 88px;
  align-items: flex-start;
}
.image-1{
  width: 256px;
  height: 408px;
  border-radius: 16px 0px 16px 16px;
  background: url(./assets/About_WhoWeAre/image40.svg), lightgray 50% / cover no-repeat;
}
.image-2-box{
  display: flex;
  align-items: flex-start;
}
.image-2{
  width: 256px;
height: 408px;
border-radius: 16px 16px 16px 0px;
background: url(./assets/About_WhoWeAre/image39.svg), lightgray 50% / cover no-repeat;
}
.who-we-are-contents-box{
  display: flex;
  width: 544px fixed;
  height: 559px fixed;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.who-we-are-content-title{
  margin: 0%;
  text-decoration: underline;
  text-decoration-color: #4AC16A;
  color: var(--Secondary-Blue-Ebony, #252642);
  /* Typo/Title L */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.72px;
}
.who-we-are-content-p{
  align-self: stretch;
  color: var(--Neutral-Gray90, #0B0B14);
  /* Body/XL Regular */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: -0.18px;
}
.who-we-are-button-box {
  width: 120px;
  height: 42px;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
}
.who-we-are-button{
  color: var(--Primary-Spring70, #147952);
  /* Body/L Semibold */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
}
.who-we-are-icon-right{
  width: 20px;
  height: 20px;
}
.what-we-do-section{
  display: flex;
  width: 1440px auto;
  height: 696px auto;
  padding: 72px 160px 144px 160px;
  align-items: flex-start;
  gap: 32px;
}
.what-we-do-left-box{
  width: auto 544px ;
  height:168px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.what-we-do-title{
  margin: 0%;
  align-self: stretch;
  color: var(--Secondary-Blue-Ebony, #252642);
  /* Typo/Title L */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.72px;
  text-decoration: underline;
  text-decoration-color: #4AC16A;
}
.what-we-do-title-content{
  margin: 0%;
  width: 544px;
  height: auto 64px;
  align-self: stretch;
  color: var(--Neutral-Gray90, #0B0B14);
  /* Body/XL Regular */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
}
.what-we-do-right-box{
  width: 544px 100%;
  height: 480px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.what-we-do-right-content{
  margin-top: 0%;
  align-self: stretch;
  color: var(--Neutral-Gray90, #0B0B14);
  /* Body/XL Regular */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
}
/* .navbar-content-box{
  width: 736px;
  height: 183px;
  margin-top: 300px;
  margin-bottom:366.06px;
  margin-left: 163px;
  margin-right: 541px;
} */
.navbar-content{
  color: #D7D7D7;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
  letter-spacing: -0.56px;
}
.navbar-content-author{
  color: #D7D7D7;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
}
.get-help{
  /* display: flex; */
  height: 48px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Primary-Spring50, #4AC16A);

}
/* DomesticViolence.jsx */
.DV-section{
  background: #E5FBEC;
  display: flex;
  padding-left: 160px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.DV-left-box{
  display: flex;
  width: 640px;
  padding: 144px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.DV-title{
  margin: 0%;
  color: var(--Secondary-Blue-Ebony, #252642);
  /* Typo/Title L */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.72px;
  text-decoration: underline;
  text-decoration-color: #4AC16A;
}
.DV-content{
  align-self: stretch;
  color: var(--Neutral-Gray90, #0B0B14);
  /* Body/XL Regular */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
}
.DV-image-box{
  display: flex;
  width: 608px;
  padding-left: 32px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.DV-image{
  width: 576px ;
  height: 847px;
  flex: 1 0 0;
  align-self: stretch;
  background: url(./assets/DomesticViolence.svg), lightgray 50% / cover no-repeat;
}
.DV-button-box {
  width: 120px;
  height: 42px;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
}
.DV-button{
  color: var(--Primary-Spring70, #147952);
  /* Body/L Semibold */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
}
/* CareHub.jsx */
.care-hub-section{
  display: flex;
  padding: 144px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.care-hub-title-box{
  width: 1120px 100%;
  height: 45px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.care-hub-title{
  width: 467px auto;
  height: 43px auto;
  margin: 0% ;
  color: var(--Secondary-Blue-Ebony, #252642);
  /* Typo/Title L */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.72px;
  text-decoration: underline;
  text-decoration-color: #4AC16A;
}
.care-hub-content-box{
  width: 1120px 100%;
  height: 491px auto;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.care-hub-content-column{
  width: 352px fixed;
  height: 459px auto;
  display: flex;
  width: 352px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.care-hub-image1{
  flex-direction: column;
  height: 229px;
  align-self: stretch;
  border-radius: 8px;
  background: url(./assets/CareHub/emotional-support-1.svg), lightgray 50% / cover no-repeat;
}
.care-hub-content-column-content{
  width: 352px;
  height: 198px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.care-hub-column-title{
  margin: 0%;
  align-self: stretch;
  color: var(--Neutral-Gray90, #0B0B14);
  /* Typo/Subtitle S */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.18px;
}
.care-hub-column-content{
  margin: 0%;
  align-self: stretch;
  color: var(--Neutral-Gray90, #0B0B14);
  /* Body/XL Regular */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
}
.care-hub-image2{
  height: 229px;
  align-self: stretch;
  border-radius: 8px;
  background: url(./assets/CareHub/emotional-support-2.svg), lightgray 50% / cover no-repeat;
}
.care-hub-image3{
  height: 229px;
  align-self: stretch;
  border-radius: 8px;
  background: url(./assets/CareHub/emotional-support-3.svg), lightgray 50% / cover no-repeat;
}